In [54]:
import requests
from bs4 import BeautifulSoup

#url = raw_input("Enter a website to extract the URL's from: ")
#r  = requests.get("http://" +url)
#data = r.text
#soup = BeautifulSoup(data)
#for link in soup.find_all('a'):
#    print(link.get('href'))

In [55]:
import datetime

url_dir = []


root = "http://www.comichron.com/monthlycomicssales"
year = 1995
while year < 2018:
    year_str = str(year)
    month = 1
    month_cap = 13
    if year == 2017:
        month_cap = 9
    while month < month_cap:
        month_str = str(month)
        if len(month_str) == 1:
            month_str = '0'+month_str
        if ((year < 1996) or ((year < 1997) and (month < 9))):
            month_str = month_str+'Diamond'  
        page = year_str+"-"+month_str+'.html'
        address = root + '/' + year_str + '/' + page
        date = datetime.date(year,month,1)
        new_row = (date,address)
        url_dir.append(new_row)
        month = month +1
    year = year +1

In [56]:
for x in url_dir[0:5]:
    print x

(datetime.date(1995, 1, 1), 'http://www.comichron.com/monthlycomicssales/1995/1995-01Diamond.html')
(datetime.date(1995, 2, 1), 'http://www.comichron.com/monthlycomicssales/1995/1995-02Diamond.html')
(datetime.date(1995, 3, 1), 'http://www.comichron.com/monthlycomicssales/1995/1995-03Diamond.html')
(datetime.date(1995, 4, 1), 'http://www.comichron.com/monthlycomicssales/1995/1995-04Diamond.html')
(datetime.date(1995, 5, 1), 'http://www.comichron.com/monthlycomicssales/1995/1995-05Diamond.html')

In [128]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
    
class HTMLTableParser:
    
    def parse_url_share(self, url):
        r  = requests.get(url)
        data = r.text
        soup = BeautifulSoup(data)
        ta = soup.find("table", { "class" : "comichron-sharetable" })
        if ta is None:
            ta = soup.find("table", {"style" : "width: 189px; height: 2707px;"})
            if ta is None:
                ta = soup.find("table", {"style" : "height: 2707px; width: 189px;"})
                if ta is None:
                    ta = soup.find("table", {"class" : "t1"})
                    if ta is None:
                        return None
        #print ta
        return self.parse_html_table(ta)
       
    def parse_url(self, url):
        r  = requests.get(url)
        data = r.text
        soup = BeautifulSoup(data)
        table = soup.find( "table", {"id":"Top300Comics"} )
        if table is None:
            tables = soup.findAll("table")
            table = tables[1]
        return self.parse_html_table(table)
    
    def parse_html_table(self, table):
        n_columns = 0
        n_rows=0
        column_names = []
    
        # Find number of rows and columns
        # we also find the column titles if we can
        for row in table.find_all('tr'):
            
            # Determine the number of rows in the table
            td_tags = row.find_all('td')
            if len(td_tags) > 0:
                n_rows+=1
                if n_columns < len(td_tags):
                    # Set the number of columns for our table
                    n_columns = len(td_tags)
                        
            # Handle column names if we find them
            th_tags = row.find_all('th') 
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags:
                    column_names.append(th.get_text())
    
        # Safeguard on Column Titles
        if len(column_names) > 0 and len(column_names) != n_columns:
#            raise Exception("Column titles do not match the number of columns")
            print "Mismatched cols and names"
            i = 0
            while i < n_columns:
                try:
                    column_names[i]
                except:
                    column_names.append("")
                i = i+1
    
        columns = column_names if len(column_names) > 0 else range(0,n_columns)
        
        df = pd.DataFrame(columns=columns, index=range(0,n_rows))
        row_marker = 0
        for row in table.find_all('tr'):
            column_marker = 0
            columns = row.find_all('td')
            for column in columns:
                column_text = column.get_text()
                df.iat[row_marker,column_marker] = column_text
                column_marker += 1
            if len(columns) > 0:
                row_marker += 1
        # Convert to float if possible
        for col in df:
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                pass
        if not (len(column_names) > 0):
            df.columns = df.iloc[0]
            df = df.reindex(df.index.drop(0))
        return df

In [129]:
hp = HTMLTableParser()
print url_dir[220][1]
hp.parse_url_share(url_dir[220][1])

http://www.comichron.com/monthlycomicssales/2013/2013-05.html

In [2]:
import pickle

def write_obj(obj,filename):
    with open(filename, 'wb') as handle:
        pickle.dump(obj, handle, protocol=pickle.HIGHEST_PROTOCOL)

def load_obj(filename):
    with open(filename, 'rb') as handle:
        b = pickle.load(handle)
        return b

In [49]:
import pandas
import numpy as np

e = master_df["Order Index"]
e[e>0]

partial_df = master_df.truncate(before=6000)

index = partial_df['Est. units'].index[partial_df['Est. units'].isnull()]
index
print len(index)
for x in index[0:10]:
    print master_df.iloc[x]
#partial_df = master_df.drop(['Dollar sales','Dollars','Unit sales','Units'],inplace=False,axis=1,errors='ignore')
#partial_df.describe()

384
                                                                  NaN
\n                                                                 49
Comic-book Title       Star Wars Boba\nFett: When the Fat Lady Swings
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $3.95
Order Index                                                       NaN
Price                                                      Dark Horse
Publisher                                                      61,757
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-09-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 6048, dtype: object
                                                                  NaN
\n                                                                308
Comic-book Title         Morbid Angel:\nPenance Revised Color Special
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $3.95
Order Index                                                       NaN
Price                                                    London Night
Publisher                                                       3,943
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-09-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 6307, dtype: object
                                                                  338
\n                                                                NaN
Comic-book Title    Witchblade\nCollected Ed. Vol. 4 w/Custom Slip...
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                          $10.95
Order Index                                                       NaN
Price                                                         Top Cow
Publisher                                                       3,130
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-10-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 6691, dtype: object
                                                                    1
\n                                                                NaN
Comic-book Title     Superman: The\nWedding Album Collector's Edition
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $4.95
Order Index                                                       NaN
Price                                                              DC
Publisher                                                     227,686
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-11-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 6708, dtype: object
                                                                   90
\n                                                                NaN
Comic-book Title    Superman:\nWedding Album Collector's Ed. Next Day
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $4.95
Order Index                                                       NaN
Price                                                              DC
Publisher                                                      39,603
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-11-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 6797, dtype: object
                                                                  149
\n                                                                NaN
Comic-book Title     Superman: The\nWedding Album Collector's Edition
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $4.95
Order Index                                                       NaN
Price                                                              DC
Publisher                                                      23,770
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-11-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 6856, dtype: object
                                                                  295
\n                                                                NaN
Comic-book Title    Luxura &\nWidow: Bloodlust Omega Part II Nude ...
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $2.95
Order Index                                                       NaN
Price                                                      Brainstorm
Publisher                                                       4,988
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-11-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 7002, dtype: object
                                                                  169
\n                                                                NaN
Comic-book Title    Superman:\nWhatever Happened to the Man of Tom...
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $5.95
Order Index                                                       NaN
Price                                                              DC
Publisher                                                      20,406
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-12-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 7244, dtype: object
                                                                  351
\n                                                                NaN
Comic-book Title    Romeo &\nJuliet by William Shakespeare Study G...
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $4.99
Order Index                                                       NaN
Price                                                         Acclaim
Publisher                                                       2,890
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-12-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 7426, dtype: object
                                                                  357
\n                                                                NaN
Comic-book Title    Tale of Two\nCities by Charles Dickens Study G...
Dollar sales                                                      NaN
Dollars                                                           NaN
Est. units                                                        NaN
Issue                                                           $4.99
Order Index                                                       NaN
Price                                                         Acclaim
Publisher                                                       2,792
Unit sales                                                        NaN
Units                                                             NaN
date                                                       1996-12-01
url                 http://www.comichron.com/monthlycomicssales/19...
Name: 7432, dtype: object

In [58]:
hp = HTMLTableParser()

def filter_out_2nd_table(df):
    title_col = "Comic-book Title"
    if title_col not in df.columns:
        title_col = "Comic-book\nTitle"
    p = df[title_col]
    i = p[p=="\n"]
    if len(i) > 0:
        i = i.index[0]
        return df.truncate(after=(i-1))
    else:
        i = p[p==""]
        if len(i) > 0:
            i = i.index[0]
            return df.truncate(after=(i-1))
        else:
            i = df[df[title_col].str.contains("Trade Paperback")]
            if len(i)>0:    
                i = i.index[0]
                return df.truncate(after=(i-1))
            else:
                return df
        
def get_comic_data(d_u):
    table = hp.parse_url(d_u[1]) # Grabbing the table from the tuple
    new_table = filter_out_2nd_table(table)
    if len(new_table) == len(table):
        print d_u
    new_table["date"] = d_u[0]
    new_table["url"] = d_u[1]
    return new_table

#t = hp.parse_url(url_dir[24][1])
#filter_out_2nd_table(t)

/usr/local/lib/python2.7/dist-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 162 of the file /usr/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

(datetime.date(1997, 1, 1), 'http://www.comichron.com/monthlycomicssales/1997/1997-01.html')
(datetime.date(1997, 2, 1), 'http://www.comichron.com/monthlycomicssales/1997/1997-02.html')
(datetime.date(1997, 3, 1), 'http://www.comichron.com/monthlycomicssales/1997/1997-03.html')
(datetime.date(1997, 12, 1), 'http://www.comichron.com/monthlycomicssales/1997/1997-12.html')
(datetime.date(1998, 4, 1), 'http://www.comichron.com/monthlycomicssales/1998/1998-04.html')
(datetime.date(2002, 10, 1), 'http://www.comichron.com/monthlycomicssales/2002/2002-10.html')
93
(datetime.date(2007, 12, 1), 'http://www.comichron.com/monthlycomicssales/2007/2007-12.html')
(datetime.date(2015, 1, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-01.html')
(datetime.date(2015, 2, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-02.html')
(datetime.date(2015, 3, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-03.html')
(datetime.date(2015, 4, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-04.html')
(datetime.date(2015, 5, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-05.html')
(datetime.date(2015, 6, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-06.html')
(datetime.date(2015, 7, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-07.html')
(datetime.date(2015, 8, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-08.html')
(datetime.date(2015, 9, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-09.html')
(datetime.date(2015, 10, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-10.html')
(datetime.date(2015, 11, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-11.html')
(datetime.date(2015, 12, 1), 'http://www.comichron.com/monthlycomicssales/2015/2015-12.html')
(datetime.date(2016, 1, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-01.html')
(datetime.date(2016, 2, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-02.html')
(datetime.date(2016, 3, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-03.html')
(datetime.date(2016, 4, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-04.html')
(datetime.date(2016, 5, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-05.html')
(datetime.date(2016, 6, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-06.html')
(datetime.date(2016, 7, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-07.html')
(datetime.date(2016, 8, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-08.html')
(datetime.date(2016, 9, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-09.html')
(datetime.date(2016, 10, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-10.html')
(datetime.date(2016, 11, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-11.html')
(datetime.date(2016, 12, 1), 'http://www.comichron.com/monthlycomicssales/2016/2016-12.html')
(datetime.date(2017, 1, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-01.html')
(datetime.date(2017, 2, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-02.html')
(datetime.date(2017, 3, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-03.html')
(datetime.date(2017, 4, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-04.html')
(datetime.date(2017, 5, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-05.html')
(datetime.date(2017, 6, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-06.html')
(datetime.date(2017, 7, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-07.html')
(datetime.date(2017, 8, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-08.html')
271

manual = []
master_df = get_comic_data(url_dir[0])
i = 1
for date_url in url_dir[1:]:
    try:
        comics_df = get_comic_data(date_url)
        if "Comic-book\nTitle" in comics_df.columns:
            comics_df = comics_df.rename(columns = {"Comic-book\nTitle":"Comic-book Title"})            
        if ("Order Index" not in comics_df.columns) and ("Est. units" not in comics_df.columns):
            comic_index = numpy.where(comics_df.columns.values == "Comic-book Title")[0][0]
            alt_head = comics_df.columns.values[comic_index+4]
            comics_df = comics_df.rename(columns = {alt_head:"Est. units"})
        master_df = pd.concat([master_df,comics_df],ignore_index=True)
    except:
        manual.append(date_url)
        print date_url
        print i
    i = i+1
    
#write_obj(master_df,"top300.pickle")

In [59]:
#master_df = load_obj("top300.pickle")
#master_df.to_csv("top300.csv", encoding='utf-8')
print manual

[(datetime.date(2002, 10, 1), 'http://www.comichron.com/monthlycomicssales/2002/2002-10.html'), (datetime.date(2017, 8, 1), 'http://www.comichron.com/monthlycomicssales/2017/2017-08.html')]

In [19]:
76354+5995

82349

In [143]:
import numpy
other_df = get_comic_data(url_dir[39])
print url_dir[39]
n = numpy.where(other_df.columns.values == "Comic-book Title")
print n[0][0]
other_df.columns.values[n[0][0]+4]

(datetime.date(1998, 4, 1), 'http://www.comichron.com/monthlycomicssales/1998/1998-04.html')
(datetime.date(1998, 4, 1), 'http://www.comichron.com/monthlycomicssales/1998/1998-04.html')
2

u'Est. units'

In [103]:
master_df.iloc[12068]["url"]

'http://www.comichron.com/monthlycomicssales/1998/1998-04.html'

In [4]:
import pandas
master_df.to_csv("top300.csv")

In [12]:
print master_df["url"].iloc[87000]

master_df.iloc[87000]

http://www.comichron.com/monthlycomicssales/2017/2017-05.html

0
\n                                                                169
Comic-book Title                      Wolverine And Black Cat Claws 2
Issue                                                               3
Price                                                           $3.99
Publisher                                                      Marvel
Est. sales                                                     11,174
date                                                       2017-05-01
url                 http://www.comichron.com/monthlycomicssales/20...
Name: 87000, dtype: object

In [13]:
master_df.describe()

,,Comic-book Title,Issue,Price,Publisher,Est. sales,date,url
count,88128,88128,88128,88128,88128,88128,88128,88128
unique,324,294,83,13,26,323,272,272
top,118,Walking Dead Weekly,1,$2.99,Marvel,"3,973",1997-10-01,http://www.comichron.com/monthlycomicssales/20...
freq,272,1088,12512,41888,28288,544,324,324